// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-size-h1: 3.6rem;
@font-size-h2: 2.2rem;
@font-size-h3: 1.8rem;
@font-size-reg: 1.6rem;
@almost-black: #343434;
@text-color: #343434;
@almost-half: 48%;
@hover-color: darkred;
@box-background: #CCCCCC;

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald|Raleway&display=swap');

@font-h: 'Open Sans Condensed';
@font-reg: 'Raleway';
@tablet: ~"(max-width: 796px)";
@mobile: ~"(max-width: 500px)";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
	font-size: 62.5%;
}

.container {
	padding: 2vw;
	font-size: @font-size-reg;
	color: @text-color;
	font-family: @font-reg, sans-serif;
	line-height: 1.5;

	@media @mobile {
		padding: 1vw;
	}

	.intro {
		.flexr();
		flex-wrap: wrap;
		.padded();
		background-color: @box-background;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;

		@media @mobile {
			.flexc();
		}

		.image {
			width: @almost-half;
			align-self: flex-start;

			@media @mobile {
				width: 100%;
				.top-right();
			}

			@media print {
				display: none;
			}
		}

		.info-box {
			.flexc();
			width: @almost-half;
			padding: 2vw;

			@media @mobile {
				width: 100%;
			}

			@media print {
				width: 100%;
			}
		}

		.contact {
			line-height: 1.5;
		}

		.top-nav {
			.flexr();
			width: 100%;
			padding-top: 2vw;

			@media @mobile {
				.flexc();
				min-height: 200px;
				align-items: stretch;
				border-bottom: 1px dotted @almost-black;

				a {
					border-top: 1px dotted @almost-black;
					text-align: center;
					padding-top: 1.6vh;
				}
			}

			@media print {
				display: none;
			}
		}
	} // .intro

	.about {
		.padded();
		.bordered();
	}// .about

	.skills {
		.flexr();
		.padded();
		.bordered();

		@media @mobile {
			.flexc();
		}

		.skills-list {
			display: inline-block;
			width: @almost-half;
			.hanging-indent();

			@media @mobile {
				width: 100%;
			}

			@media print {
				width: 100%;
			}
		}

		.image {
			width: @almost-half;

			@media @mobile {
				width: 100%;
				order: -1;
			}

			@media print {
				display:none;
			}
		}
	} // .skills

	.experience {
		.padded();
		.bordered();

		.exp-table {
			border: 1px solid @box-background;
			width: 100%;
			.padded();

			.table-data {
				padding: 3px;
				line-height: 1.3;

				.padded-t {
					padding-top: 2vh;
				}
			}

			.table-data:first-child {
				.h3();
				padding-left: 2vw;
				vertical-align: middle;
			}

			.table-data:last-child {
				padding-right: 2vw;
			}

			.table-row:nth-child(odd) {
				background-color: #f2f2f2;
			}

			.table-header {
				background-color: #f2f2f2;
				text-align: center;
			}
		}
	} // .experience

	.addinfo {
		.padded();
		.bordered();
	} // .addinfo

	.footer {
		padding: 2vw;
		padding-top: 0;
		background-color: @box-background;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;

		.footer-nav {
			.flexr();
			align-items: baseline;

			.hidden {
				display: inline-block;
				max-width: 0px;
			}

			@media @mobile {
				.hidden {
					display: none;
				}
			}
		}
	}// .footer

	.rotate-90 {
		transform: rotate(90deg);
	}

	.rotate-180 {
		transform: rotate(180deg);
	}

	.rotate-270 {
		transform: rotate(270deg);
	}

	.hanging-indent {
	  padding-left: 2vw;
	  text-indent: -2vw;
	}

	.italic {
		font-style: italic;
	}

	.centered {
		text-align: center;
	}

	.underlined {
		border-bottom: 1px dotted @almost-black;
	}

	.padded {
		padding: 2vw;
	}

	.bordered {
		border: 2px solid @box-background;
		border-top: 0;

		@media print {
			border-top: 2px solid @box-background;
		}
	} // .bordered

	.h1 {
		font-size: @font-size-h1;
		font-family: @font-h, sans-serif;
	}

	.h2 {
		font-size: @font-size-h2;
		line-height: 1.5;
		font-family: @font-h, sans-serif;
	}

	.h3 {
		font-size: @font-size-h3;
		line-height: 1.5;
		font-family: @font-h, sans-serif;
	}

	.inline {
		display: inline-block;
	}

	.hidden {
		visibility: hidden;
	}

	.padded-r {
		padding-right: 2vw;
	}

	.padded-l {
		padding-left: 2vw;
	}

	.padded-b {
		padding-bottom: 2vw;
	}

	.padded-t {
		padding-top: 2vw;
	}

	.margin-r {
		margin-right: 2vw;
	}

	.margin-r-small {
		margin-right: 1vw;
	}

	.margin-l {
		margin-left: 2vw;
	}

	.margin-b {
		margin-bottom: 2vw;
	}

	.margin-b-small {
		margin-bottom: 1vw;
	}

	.margin-t {
		margin-top: 2vw;
	}

	.justified {
		text-align: justify;
	}

	.top-left {
		border-top-left-radius: 20px;
	}

	.top-right {
		border-top-right-radius: 20px;
	}

	.bottom-left {
		border-bottom-left-radius: 20px;
	}

	.bottom-right {
		border-bottom-right-radius: 20px;
	}

	.major {
		.h1();
		border-bottom: 1px dotted @text-color;
	}

	.subtitle {
		.h2();
	}

	.large {
		font-size: 150%;

		@media (max-width: 796px) {
			font-size: 100%;
		}
	}

	.larger {
		font-size: 200%;

		@media (max-width: 796px) {
			font-size: 150%;
		}
	}

	.flexr {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.flexc {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.nodec {
		text-decoration: none;
		color: @text-color;

		&:hover {
			color: @hover-color;
		}
	} // .nodec

	i {
		@media print {
			display: none;
		}
	}

	.hide-in-print {
		@media print {
			display: none;
		}
	}
} // .container
